

  .body {
    display: flex;
    justify-content: center;
 
    text-align: center;
    background-image: url("./Assets/IMG_7732.jpg");
    background-size: cover;
    background-repeat: repeat-x;  
  }
