
.body {
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url("./Assets/IMG_7732.jpg");
    background-size: 100% 100%;
    background-repeat: repeat-x;  
    background-position: center center;

}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero h1 {
        font-size: 3em;
}

.hero p {
        font-size: 1.5em;
}

.navbar {
        background-color:black;
        overflow: hidden;
}

.navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
}

.navbar li {
        float: left;
}

.navbar a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}

.navbar a:hover {
        background-color: #ddd;
        color: black;
}

/* Responsive styles */
@media (max-width: 768px) {
    .body {
        background-image: url("./Assets/IMG_7732_small.jpg");
    }

    .hero h1 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1em;
    }

    .navbar a {
        padding: 10px 12px;
    }
}

.rows {
    display: flex;
    flex-wrap: wrap;
}
.columns {
    flex: 2 0 auto; /* Change base width to auto */
    display: flex;
    width: 600px; /* Set explicit width */
    height: 300px; /* Set explicit height */
}

.column1 {
    flex: 2;
    /* Add styles for the slide images */
}

.column2 {
    flex: 2;
    background-color: orangered; /* Unique background color */
    /* Add styles for the image description */
}